
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>Gateway Console</title>
    <script type="module" crossorigin src="/assets/001e4c4be17dc1d506946879eb4d1d3a.js"></script>
    <link rel="stylesheet" href="/assets/ced067dc6e29dbf14442d20b20ee5570.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
