
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="color-scheme" content="light dark">
    <title>网关控制台</title>
    <script type="module" crossorigin src="/assets/da3e86038d3336a7c737702fc30a7405.js"></script>
    <link rel="stylesheet" href="/assets/bf712c0423ddee8b7f4267ecc4776e9e.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
